.search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 20px;
    
    .search-box {
    height: 70px;
    text-align: center;
}
}

